@model RxAuto.Web.ViewModels.Qualifications.InputModels.QualificationInputModel

@{
    ViewData["Title"] = "Qualifications Edit Form";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="d-flex justify-content-center">Промяна на информацията за квалификация</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <form method="post" asp-area="Administration" asp-controller="Qualifications" asp-action="Edit">
                <fieldset class="border p-3">
                    <legend class="w-auto">Информация за квалификация</legend>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="QualificationName"></label>
                            <input asp-for="QualificationName" class="form-control" />
                            <span asp-validation-for="QualificationName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="Description"></label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Запази</button>
                    <a class="btn btn-info" asp-area="Administration" asp-controller="Qualifications" asp-action="All">Върни се обратно</a>
                </fieldset>
            </form>
        </div>
    </div>
</div>
