@model RxAuto.Web.ViewModels.ServiceTypes.InputModels.ServiceTypeInputModel

@{
    ViewData["Title"] = "ServiceType Edit Form";
}

<div class="text-center">
    <h1 class="display-4">Service Type Form</h1>
</div>

<form method="post" asp-area="Administration" asp-controller="ServiceTypes" asp-action="Edit">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <fieldset class="border p-3">
                    <legend class="w-auto">Service type information</legend>
                    <p class="form-group">
                        <label asp-for="ServiceTypeName"></label>
                        <input asp-for="ServiceTypeName" class="form-control" />
                        <span asp-validation-for="ServiceTypeName" class="text-danger"></span>
                    </p>
                    <p class="form-group">
                        <label asp-for="ServiceTypeDescription"></label>
                        <textarea asp-for="ServiceTypeDescription" class="form-control"></textarea>
                        <span asp-validation-for="ServiceTypeDescription" class="text-danger"></span>
                    </p>
                    <p class="custom-control custom-checkbox my-1 mr-sm-2">
                        <input type="checkbox" asp-for="IsShownInMainMenu" class="custom-control-input" id="serviceTypeCheckboxId">
                        <label class="custom-control-label" asp-for="IsShownInMainMenu" for="serviceTypeCheckboxId">Show in <b>Main Menu</b></label>
                    </p>
                    <button type="submit" class="btn btn-success">Save</button>
                    <a class="btn btn-info" asp-area="Administration" asp-controller="ServiceTypes" asp-action="All">Back to List</a>
                </fieldset>
            </div>
        </div>
    </div>
</form>
