@model RxAuto.Web.ViewModels.UnifiedModels.ServicesUnifiedModel
@{
    ViewData["Title"] = "Create Service Form";
}

<div class="text-center">
    <h1 class="display-4">Форми за добавяне на услуга, тип услуга, категория на превозно средство и документ</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <partial name="_ServiceForm" model="Model.ServiceInputModel" />
        </div>
        <div class="col-4">
            <partial name="_ServiceTypeForm" model="Model.ServiceTypeInputModel" />
        </div>
        <div class="col-4">
            <partial name="_VehicleTypeForm" model="Model.VehicleTypeInputModel" />
        </div>
        <div class="col-4">
            <partial name="_DocumentForm" model="Model.DocumentInputModel" />
        </div>
    </div>
</div>
