@model RxAuto.Web.ViewModels.UnifiedModels.JobPositionQualificationUnifiedModel

@{
    ViewData["Title"] = "Job Position and Qualification Create Forms";
}

<div class="text-center">
    <h1 class="display-4">Форми за добавяне на Работни позиции и Квалификации</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-5">
            <partial name="_JobPositionForm" model="Model.JobPositionInputModel" />
        </div>
        <div class="col">
            <partial name="_QualificationForm" model="Model.QualificationInputModel" />
        </div>
    </div>
</div>
