@model RxAuto.Web.ViewModels.Phones.InputModels.PhoneInputModel

<form method="post" asp-area="Administration" asp-controller="Departments" asp-action="CreatePhone">
    <fieldset class="border p-3">
        <legend class="w-auto">Add Phone Number</legend>
        <p class="form-group">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </p>
        <button type="submit" class="btn btn-success float-right">Submit</button>
    </fieldset>
</form>