@model RxAuto.Web.ViewModels.Employees.InputModels.EmployeeInputModel

@{
    ViewData["Title"] = "Employees Edit Form";
    var jobPositions = Model.JobPositions.Select(x => new SelectListItem(x.JobPositionName, x.Id.ToString()));
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="d-flex justify-content-center">Промяна на информацията за служител</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <form method="post" asp-area="Administration" asp-controller="Employees" asp-action="Edit">
                <fieldset class="border p-3">
                    <legend class="w-auto">Информация за Служител</legend>
                    <p class="form-group">
                        <label asp-for="JobPositionId"></label>
                        <select asp-for="JobPositionId" asp-items="jobPositions" class="selectpicker show-tick" data-size="5"></select>
                        <a class="btn btn-info" asp-area="Administration" asp-controller="JobPositions" asp-action="Create">Добави нова Работна Позиция</a>
                    </p>
                    <p class="form-group">
                        <label asp-for="OperatingLocationId"></label>
                        <select asp-for="OperatingLocationId" class="selectpicker show-tick" data-show-subtext="true" data-live-search="true" data-size="5">
                            @foreach (var operatingLocation in Model.OperatingLocations)
                            {
                                <option value="@operatingLocation.Id" data-subtext="@operatingLocation.Address">@operatingLocation.Town</option>
                            }
                        </select>
                        <a class="btn btn-info" asp-area="Administration" asp-controller="OperatingLocations" asp-action="Create">Добави нова Работна Локация</a>
                    </p>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="MiddleName"></label>
                            <input asp-for="MiddleName" class="form-control" />
                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label asp-for="Phone"></label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label asp-for="Town"></label>
                            <input asp-for="Town" class="form-control" />
                            <span asp-validation-for="Town" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Address"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label asp-for="ImageUrl"></label>
                            <input asp-for="ImageUrl" class="form-control" />
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Запази</button>
                    <a class="btn btn-info" asp-area="Administration" asp-controller="Employees" asp-action="All">Върни се обратно</a>
                </fieldset>
            </form>
        </div>
    </div>
</div>