<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a asp-area="Administration" asp-controller="Departments" asp-action="All">Отдели</a>
    <a asp-area="Administration" asp-controller="Documents" asp-action="All">Документи</a>
    <a asp-area="Administration" asp-controller="Employees" asp-action="All">Служители</a>
    <a asp-area="Administration" asp-controller="JobPositions" asp-action="All">Работни Позиции</a>
    <a asp-area="Administration" asp-controller="OperatingLocations" asp-action="All">Работни Локации</a>
    <a asp-area="Administration" asp-controller="Phones" asp-action="All">Телефони</a>
    <a asp-area="Administration" asp-controller="Qualifications" asp-action="All">Квалификации</a>
    <a asp-area="Administration" asp-controller="Reservations" asp-action="All">Резервации</a>
    <a asp-area="Administration" asp-controller="Services" asp-action="All">Услуги</a>
    <a asp-area="Administration" asp-controller="ServiceTypes" asp-action="All">Типове Услуги</a>
    <a asp-area="Administration" asp-controller="VehicleTypes" asp-action="All">Категории Автомобили</a>
</div>

<div id="main">
    <button class="openbtn" onclick="openNav()">☰ Меню</button>
</div>

<script>
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>