@{
    ViewData["Title"] = "Administration Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the administration home page.</h1>
    <p>Soon you can find general Statistics here.</p>
</div>
