@model RxAuto.Web.ViewModels.Phones.InputModels.PhoneInputModel

@{
    ViewData["Title"] = "Phones Edit Form";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="d-flex justify-content-center">Промяна на информацията за телефон</h1>
        </div>
    </div>
</div>

<form method="post" asp-area="Administration" asp-controller="Phones" asp-action="Edit">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <fieldset class="border p-3">
                    <legend class="w-auto">Информация за телефон</legend>
                    <p class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </p>
                    <button type="submit" class="btn btn-success">Запази</button>
                    <a class="btn btn-info" asp-area="Administration" asp-controller="Phones" asp-action="All">Върни се обратно</a>
                </fieldset>
            </div>
        </div>
    </div>
</form>
